body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: white;
}

.hero {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.hero-img {
	width: 100%;
	height: 100vh;
	transform: scale(1.3);
}

.content {
	position: absolute;
	color: white;
	top: 50%;
	right: 50%;
	transform: translate(10%, -20%);
}


.title+p {
	color: gray
}


.information {
	color: white;
}


.mnc {
	text-align: center;
}

.organization {
	margin-top: 4%;
}

.companies {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.company {
	height: 120px;
}

.button5 {
	border-radius: 50%;
	border: none;
	background-color: #E1BD3A;
	height: 200px;
	width: 200px;
}


@media(min-width:600px) {
	.company {
		height: 50%;
	}
}


.sub-heading {
	font-size: 48px;
	/* font-weight: 600; */
}


.nav {
	position: absolute;
	top: 6%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: space-between;
	display: flex;
	color: white;
	width: 93%;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none !important;
	color: white !important;
}

a:hover {
	color: yellow !important;
}

.buttons {
	display: flex;
	gap: 20px;
	align-items: center;
}


.signin-button {
	padding: 8px 14px;
	border: none;
	border-radius: 3px;
	background-color: #E1BD3A;
	color: white;
	font-size: 14px;
}

.greybox {
	height: 200px;
	background-color: #e7e7e7;

	p {
		color: black !important;
		font-weight: bold;

	}
}

.whitebox {
	height: 200px;

	p {
		color: black !important;
		font-weight: bold;

	}
}


.black-bg {
	background: url(blackbg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.buttons2 {
	background-color: rgba(31, 25, 25, 0.696);
}

.color {
	background-color: rgba(31, 25, 25, 0.696);
}

.view {
	padding: 8px 14px;
	border: none;
	border-radius: 3px;
	background-color: black;
	color: white;
	font-size: 14px;
}

.titles {
	text-align: center;
}

.images {
	text-align: center;
}

.boxes {
	background-color: black;
	margin: auto;
}

.box-content {
	color: white;
}

.last-bg {
	background: url(blackbg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.porto {
	color: white;
	font-family: fantasy
}

.porto-para {
	color: white;
}

.stuffs-color {
	color: white;
	font-weight: bolder;
}

.list-color {
	color: gray;
}

.web {
	border: none;
	background-color: rgba(29, 23, 23, 0.761);
	padding: 5px 5px;
	color: white;
}

.button-container {
	display: flex;
	align-items: center;
	padding: 0 50px;
}

.line {
	border: 1px solid lightgrey;
}

.footer-para{
    color: white;
}